<div class="jumbotron banner">
  <h1 class="dh6 text-uppercase letter-spacing-2 mb-4">Cat Shop</h1>
  <p class=" text-uppercase letter-spacing-2 mb-4">Les photos de chat les plus cutes du web.</p>

</div>

<!--   -->
<div class="container py-7 text-center">
      <div class="row roww">
        <div class="col-sm-6 col-lg-4 mb-5">
          <div class="mb-5 ok">
            <div class="paw"></div>
            <h3 class="h6 text-uppercase letter-spacing-2 mb-4">Migions</h3>
            <p class="text-muted">This theme follows the latest design and typography trends.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-5">
          <div class="mb-5 ok">
           <div class="paw"></div>
            <h3 class="h6 text-uppercase letter-spacing-2 mb-4">Doux</h3>
            <p class="text-muted">Mutliple variants for category listings, product details. Dedicated e-commerce beautiful icon sets.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-5">
          <div class="mb-5 ok ">
            <div class="paw"></div>
            <h3 class="h6 text-uppercase letter-spacing-2 mb-4">Gentils</h3>
            <p class="text-muted">You can use it out-of-the-box, but if you need customizations, you will love the included Gulp &amp; SCSS toolkit.</p>
          </div>
        </div>          
      </div>
</div>

<div class="container">
    <div class="parent">

        <% @catlist.each do |i| %>

        <div class="card" style="width: 18rem;">
        <% if i.image.attached? %>
            <%= image_tag i.image %>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"> <%=i.title%></h5>
            <p class="card-text">Prix: <%=i.price %> €</p>
            <a href="<%= product_path(i.id)%>" class="btn btn-primary">Voir la Photo</a>
        </div>
        </div>
    <% end %>
        
    </div>
</div>
