
<div class="container">
<h1 class="text-center"> Bienvenue sur la page d'accueil</h1>

<% @catlist.each do |i| %>
    <p> <%=i.title%></p>
    <a href="<%= product_path(i.id)%>">Voir l'image</a>
    <p>-----------</p>
<%end%>
<%= button_to "Payer", checkout_create_path(total: 1),data: { turbo: false }, class: "btn btn-primary"%>
</div>