
<div class="container">
<h1 class="text-center"> Bienvenue sur la page d'acceuil</h1>

<% @catlist.each do |i| %>
    <p> <%=i.title%></p>
    <a href="<%= product_path(i.id)%>">Voir l'image</a>
    <p>-----------</p>
<%end%>


</div>