<h1>Mon Panier</h1>

<% @cartlist.each do |i|%>

<p> Produit :<%= i.product.title%></p>

<p> Prix: <%= i.product.price%> €</p>


<% if i.product.image.attached? %>
  <%= image_tag i.product.image %>
<% end %>

<%= link_to 'Supprimer du panier', cart_path(i), data: {turbo_method: :delete} %>
 <p> ----------------- </p>
<% end%>