/* .carousel-item{
  width: 700px;
  height: 900px;
} */
.background_jumbotron
{
  background-image: url("https://images.unsplash.com/photo-1571570703598-39eb580a0329?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  width: 1366px;
  height: 735px;
  /* left: 0px; */
  /* top: 859px; */
  /* background:center; */
}
#card{

  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.2) 1px 1px inset, rgba(255, 255, 255, 0.1) -1px -1px inset, rgba(0, 0, 0, 0.15) 1px 3px 24px -1px;
  /* background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%); */
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 10px;
  
}

#carousel{
  padding: 10px;
}
nav{
  z-index: 1000;
}